.deleteBtn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 5px; /* space between icon & text */

  transition: background-color 0.2s ease;
}

.deleteBtn:hover {
  background-color: #c0392b;
}